* {
    margin: 0;
}

header {
    background-color: rgb(219, 248, 248);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: grey;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50vh;
    width: 30vh;
    border-radius: 20px;
}

.container p,
.container h2,
.container input,
.container button{
    padding: 10px;
    margin: 10px;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 199, 199);
    
}

footer a{
    text-decoration: none;
    color: rgb(7, 143, 136);
    font-weight: bold;

}

footer a:hover {
    color: orangered;
}
